@model CRUD_jQuery_Ajax.Models.Products
@{Layout = null; }
<div>
    <table class="table table-bordered table-hover table-responsive" >
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Product_Name)
            </td>

            <td>
                @Html.DisplayFor(model => model.Product_Name)
            </td>
        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Product_Price)
            </td>

            <td>
                @Html.DisplayFor(model => model.Product_Price)
            </td>
        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Product_QTY)
            </td>

            <td>
                @Html.DisplayFor(model => model.Product_QTY)
            </td>
        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Product_Writing_Date)
            </td>

            <td>
                @Html.DisplayFor(model => model.Product_Writing_Date)
            </td>
        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Product_Description)
            </td>

            <td>
                @Html.DisplayFor(model => model.Product_Description)
            </td>
        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Product_Image)
            </td>

            <td>
                @Html.DisplayFor(model => model.Product_Image)
            </td>
        </tr>

       

    </table>
</div>
